a {
    color: #beb011;
    text-decoration-line: none;
    text-decoration: none;
}

a:visited {
    color: #aaeedd;
    text-decoration-line: none;
    text-decoration: none;
}

a:hover {
    color: #ff00ff;
    text-decoration-line: none;
    text-decoration: none;
}

#head{
    background-color: gray;
    text-align: center;
    font-family: impact, ;
    text-shadow: 0.5;
    float: left;
    width: 50%;
    height: 120px;
    
}

#fuckin{
    background-color: black;
    color: white;
    
    
}

#cat{
    background-color: #ddff11;
    color: black;
    float: right;
    width: 50%;
    height: 120px;
}

#hole{
    background-color: #ff7600;
    color: rgba(0, 0, 0, 0.24);
    font-family: impact, sans-serif;
    width: 600px;
    float: inherit;
}    

#fuck{
    background-color: #0076FF;
    color: rgba(255, 0, 0, 0.7);
    width: 50%;
    float: left;
}

#gayguy{
    background-color: #00FF66;
    color: black;
    width: 50%;
    float: left;
}

#haha{
    background-color: black;
}

#ohh {
    background-color: #000000;
    color: #FAFAFA;
    width: 50%;
    height: 120px;
    font-size: 40px;
    margin: 10px 10;
    text-align: center;
    float: right;
}